#main-footer {
	display: none;
}

.icontext {
	color: #444444;
	font-weight: bold;
	text-align: left;
}

.icondiv {
	width: 300px;
  margin: 0 auto;
}

.iconsect1 {
	padding-bottom: 0 !important;
}

.iconc1, .iconc2, .iconc3 {
	margin-top: 24px;
	margin-bottom: 24px;
}

.icontitle {
	font-size: 20px;
	font-weight: bolder;
	color: #444444;
}

.hdall {
	border-top: 2px solid #bf1e2d;
  width: 40px;
	color: red;
	margin: 0 auto;
	height: 16px;
}

.iccall {
	margin-bottom: 15px !important;
}

.et-fixed-header #top-menu a:hover {
  color: #bf1e2d !important;
}

.footsoc1 {
	padding: 0 !important;
	margin: 0 !important;
	background: #252525;
}

/***** TEXT FORMATTING *****/

.titlefont1 {
	font-family: "Open Sans";
	font-size: 36px;
	color: #1f1f1f;
	text-align: center;
}

.subfont1 {
	font-family: "Open Sans";
	font-size: 24px;
	color: #1f1f1f;
	font-weight: 600;
}

.subfont2 {
	font-family: "Open Sans";
	font-size: 16px;
	color: #bf1e2d;
	font-weight: 600;
}

.bodyfont1 {
	font-family: "Open Sans";
	font-size: 14px;
	color: #1f1f1f;
	font-weight: 500;
}

.bodyfont2 {
	font-family: "Open Sans";
	font-size: 14px;
	color: #bf1e2d;
	font-weight: 600;
	text-align: right;
}

/***********************/

.homebannersect {
	padding-top: 16vh !important; 
	padding-bottom: 16vh !important; 
}

.bracket {
	font-size: 30px;
	color: #bf1e2e; 
}


.titlebg {
	background-color: #ffffffb5;
	padding-top: 24px;
	padding-bottom: 24px;
	line-height: 40px;
}

.mobile_menu_bar:before {
	color: #bf1e2d !important;
}

.et_mobile_menu {
	border-color: #bf1e2d !important;
}

.inhome-consult-box {
	background-color: #003266;
	padding: 0 !important;
}

.inhometext {
	font-size: 20px;
	font-weight: bold;
	color: white !important;
}

.logosect1 {
	background-color: #252525;
}

.logostitle {
	text-align: center !important;
	display: inline-block !important;
	font-size: 28px;
	color: white;
	font-weight: bold;
}

.homelogos {
	filter: brightness(0) invert(1);
}

.bracket {
	text-align: center !important;
}

.homeinstallitle {
	font-weight: bold;
	font-size: 20px;
	color: #444444;
}

.homeinstalltext {
	color: #444444
}

.et-fixed-header #top-menu li.current-menu-item.current_page_item a, .current_page_item a {
	color: #01468d !important;
}

.brandtitle, .productstitle1, .covidtitle1 {
	font-weight: 700;
	font-size: 24px;
	color: #454545;
	line-height: 0.1;
}

.covidtitle1
{
	font-size: 30px;
}

.brandsubtitle, .productstext, .covidtext {
	font-weight: 700;
	font-size: 16px;
	color: #01468d;
}

.brandtext {
	color: #454545;
	font-size: 14px;
}

.productstext, .covidtext {
	color: #454545;
}

.productstext a {
	color: #bf1e2d;
}

.covidtext a {
	color: #bf1e2d;
}

.covidemail
{
	color: red;
}

.covidtext2 {
	font-weight: 500;
}

table {
	font-size: 15px;
	color: #454545;
}

.tvsize {
	font-weight: bold;
}

.stock1 {
	color: green;
	font-weight: bold;
}

.stock2 {
	color: red;
	font-weight: bold;
}

.stock3 {
	color: orange;
	font-weight: bold;
}

.stock4 {
	color: purple;
	font-weight: bold;
}

.stock5 {
	color: darkorange;
	font-weight: bold;
}

.brandchartrow, .brandpicrow {
	padding-top: 0 !important;
}

.brandsect1, .brandquestionsrow {
	padding-bottom: 0 !important;
}

.brandsect1, #brandtextrow {
	padding-top: 0 !important;
}


.brandqustionstext {
	text-align: center;
	font-size: 22px;
	font-weight: 900;
	color: #454545;
	line-height: 0.1;
}

.branddivide1:before {
	border-color: #454545 !important;
}

.chartsm {
	display: none;
}

.productssect2, .productssect1, .sonospage1 {
	padding-bottom: 0 !important;
}

.woocommerce-product-gallery__image {
    pointer-events: none;
}

.woocommerce .quantity input[type="number"], .woocommerce-page .quantity input[type="number"] {
    color: #000 !important;
}

.button:hover {
	color: #226bd8 !important;
	background-color: white !important;
	border-color: #226bd8 !important;
}

.related {
	display: none;
}

.shortpricesm {
	font-size: 13px;
	color: red;
}

.shortpricelg {
	font-weight: bold;
}

td a {
    display: block;
}

a {
    color: inherit !important;
}

.tvrow2:hover {
	background-color:#CCD5E8;
}

.backtext {
	color: #01468d !important;
	font-weight: bold;
}

.bf1 div {
	background-color: #ce040e !important;
	background-image:-webkit-repeating-linear-gradient(135deg,rgba(0,0,0,.3),rgba(0,0,0,.3) 1px,transparent 2px,transparent 2px,rgba(0,0,0,.3) 3px)!important;
	background-image:-moz-repeating-linear-gradient(135deg,rgba(0,0,0,.3),rgba(0,0,0,.3) 1px,transparent 2px,transparent 2px,rgba(0,0,0,.3) 3px)!important;
	background-image:-o-repeating-linear-gradient(135deg,rgba(0,0,0,.3),rgba(0,0,0,.3) 1px,transparent 2px,transparent 2px,rgba(0,0,0,.3) 3px)!important;
	background-image:repeating-linear-gradient(135deg,rgba(0,0,0,.3),rgba(0,0,0,.3) 1px,transparent 2px,transparent 2px,rgba(0,0,0,.3) 3px)!important;
	-webkit-background-size:4px 4px!important;
	-moz-background-size:4px 4px!important;
	background-size:4px 4px!important;
}



/* ----- MEDIA QUERIES ----- */

@media only screen and (max-width: 479px) {
	.hometopbut, .homecontactbut, .titlefont1  {
	font-size: 20px !important;
	}
	
	.homelogos, .homelogos2 {
		width: 50%;
	}
	
	.titlebg {
	background-color: #ffffffb5;
	padding-top: 18px;
	padding-bottom: 18px;
	line-height: 28px;
  }
}

@media only screen and (min-width: 768px) {
    .servmobbut1,.servmobbut2 {
        padding: 0 !important;
    }
    .homedivide2 {
        margin-top: 0;
        display:none;
    }
}

@media only screen and (min-width: 981px) {
	.inheritme {
		display:-ms-flexbox;
		display:-webkit-flex;
		display:flex;
		-ms-flex-align:center;
		-webkit-align-items:center;
		-webkit-box-align:center;
		align-items:center;
	}
	
	.menu-item a {
    font-size: 15px !important;
  }
	
	.homealign {
		transform: translateX(22%);
	}
}

@media only screen and (max-width: 980px) {
	.iconsect1 {
		padding-bottom: 24px !important;
	}

	.homealign {
		text-align: center;
	}

	.chartsm {
		display: block;
	}

	.chartlg {
		display: none;
	}
}

/* -- */

.et_pb_module_header {
	font-size: 7vw;
	font-weight: 800;
}

.et_pb_fullwidth_header_subhead {
	font-size: 2vw;
}

.bft1 {
	font-size: calc(30px + 9vw);
	text-align: center !important;
	line-height: 1;
	font-weight: 800;
}

.bft2 {
	font-size: calc(8px + 2vw);
	line-height: 1;
}

.yw {
	color: #01468d;
	font-weight: 600;
}

.wao1 {
	font-size: calc(20px + 1vw);
	text-align: center !important;
	line-height: 1;
	font-weight: 800;
}

.wao2 {
	font-size: calc(16px);
	line-height: 1;
}

.wao14, .wao15 {
	padding-top: calc(16px); 
}

.bf1 {
	padding: 20px;
}

.paysect{
	min-height: calc(100% - 245px) !important;
	min-height: 100% !important;
}

.paytitle {
	font-size: 30px;
	font-weight: 700;
}

.paylab1 {
	font-size: 16px;
	font-weight: 600;
}

.covid-s1, .pay-s1 {
	min-height: calc(100vh - 375px) !important;
}

.thindiv1, .thindiv2,.thindiv3 {
	padding: 0 !important;
}

.clearanceT1 {
	font-size: calc(28px + 3vw);
	font-weight: 900;
	color: red;
	align-content: center;
	text-align: center;
	-webkit-text-stroke: 2px white;
}

.cTable1 {
	background: #FFFFFFDD;
	margin-bottom: 0 !important;
}

.cTable2 {
	border: 2px #00000088 solid;
}

.clearanceT2 .et_pb_text_inner {
	margin: auto !important;
}

.homebannersect .et_pb_column {
	width: auto !important;
	margin: auto;
}
