#main-footer {
	display: none;
}

.icontext {
	color: #444444;
}

.iconsect1 {
	padding: 0 !important;
}

.iconc1, .iconc2, .iconc3 {
	margin-top: 24px;
	margin-bottom: 24px;
}

.icontitle {
	font-size: 20px;
	font-weight: bolder;
	color: #444444;
}

.hdall {
	border-top: 2px solid #bf1e2d;
  width: 40px;
	color: red;
	margin: 0 auto;
	height: 16px;
}

.iccall {
	margin-bottom: 15px !important;
}

.et-fixed-header #top-menu a:hover {
  color: #bf1e2d !important;
}

.footsoc1 {
	padding: 0 !important;
	margin: 0 !important;
	background: #252525;
}

/***** TEXT FORMATTING *****/

.titlefont1 {
	font-family: "Open Sans";
	font-size: 36px;
	color: #1f1f1f;
	text-align: center;
}

.subfont1 {
	font-family: "Open Sans";
	font-size: 24px;
	color: #1f1f1f;
	font-weight: 600;
}

.subfont2 {
	font-family: "Open Sans";
	font-size: 16px;
	color: #bf1e2d;
	font-weight: 600;
}

.bodyfont1 {
	font-family: "Open Sans";
	font-size: 14px;
	color: #1f1f1f;
	font-weight: 500;
}

.bodyfont2 {
	font-family: "Open Sans";
	font-size: 14px;
	color: #bf1e2d;
	font-weight: 600;
	text-align: right;
}

/***********************/

.homebannersect {
	padding-top: 16vh !important; 
	padding-bottom: 16vh !important; 
}

.bracket {
	font-size: 30px;
	color: #bf1e2e; 
}


.titlebg {
	background-color: #ffffffb5;
	padding-top: 24px;
	padding-bottom: 24px;
	line-height: 40px;
}

.mobile_menu_bar:before {
	color: #bf1e2d !important;
}

.et_mobile_menu {
	border-color: #bf1e2d !important;
}

.inhome-consult-box {
	background-color: #003266;
}

.inhometext {
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.logosect1 {
	background-color: #252525;
}

.logostitle {
	text-align: center !important;
	display: inline-block !important;
	font-size: 28px;
	color: white;
	font-weight: bold;
}

.homelogos {
	filter: brightness(0) invert(1);
}

.bracket {
	text-align: center !important;
}

.homeinstallitle {
	font-weight: bold;
	font-size: 20px;
	color: #444444;
}

.homeinstalltext {
	color: #444444
}

.et-fixed-header #top-menu li.current-menu-item.current_page_item a, .current_page_item a {
	color: #01468d !important;
}

.brandtitle {
	font-weight: 700;
	font-size: 24px;
	color: #454545;
	line-height: 0.1;
}

.brandsubtitle {
	font-weight: 700;
	font-size: 16px;
	color: #01468d;
	line-height: 0.1;
}

.brandtext {
	color: #454545;
	font-size: 14px;
}

table {
	font-size: 15px;
	color: #454545;
}

.tvsize {
	font-weight: bold;
}

.stock1 {
	color: green;
	font-weight: bold;
}

.stock2 {
	color: red;
	font-weight: bold;
}

.stock3 {
	color: orange;
	font-weight: bold;
}

.stock4 {
	color: purple;
	font-weight: bold;
}

.brandchartrow, .brandpicrow {
	padding-top: 0 !important;
}


/* ----- MEDIA QUERIES ----- */

@media only screen and (max-width: 479px) {
	.hometopbut, .homecontactbut, .titlefont1  {
	font-size: 20px !important;
	}
	
	.homelogos {
		width: 50%;
	}
	
	.titlebg {
	background-color: #ffffffb5;
	padding-top: 18px;
	padding-bottom: 18px;
	line-height: 28px;
  }
}

@media only screen and (min-width: 768px) {
    .servmobbut1,.servmobbut2 {
        padding: 0 !important;
    }
    .homedivide2 {
        margin-top: 0;
        display:none;
    }
}

@media only screen and (min-width: 981px) {
	.inheritme {
		display:-ms-flexbox;
		display:-webkit-flex;
		display:flex;
		-ms-flex-align:center;
		-webkit-align-items:center;
		-webkit-box-align:center;
		align-items:center;
	}
	
	.menu-item a {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 980px) {
	.iconsect1 {
		padding-bottom: 24px !important;
	}
	.homealign {
		text-align: center;
	}
}