#main-footer {
	display: none;
}

.soontitle, #countdown {
	font-family: 'Permanent Marker' !important;
	font-weight: 100 !important;
}

.soontitle {
	font-size: 4em;
}

@media only screen and (max-width: 431px) {
	.soontitle {
	    font-size: 2em;
}
}

.home-extra-menu {
	margin-bottom: -105px;
	position: relative;
	z-index: 99991;
}

.fullwidth-menu li {
    display: inline-block;
    padding-right: 66px;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 22px;
    padding-top: 30px;
	  font-weight: bold;
}

.menu-hover-1 a::before,
.menu-hover-1 a::after {
	position: absolute;
	top: 28%;
	left: 50%;
	width: 120px;
	height: 120px;
	border: 2px solid rgb(255,255,255);
	border: 2px solid rgba(255,255,255,0.4);
	border-radius: 50%;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
	transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.menu-hover-1 a::after {
	width: 90px;
	height: 90px;
	border-width: 6px;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
	transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.menu-hover-1 a:hover::before,
.menu-hover-1 a:hover::after,
.menu-hover-1 a:focus::before,
.menu-hover-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}

@media only screen and (max-width: 981px) {
	.et_pb_fullwidth_header_0 .header-content img {
		height: 0px !important;
	}
	.home-extra-menu {
		visibility: hidden;
}
	.home-img-1 img {
		position: absolute;
  		left: 0%;
  		top: -20%;
	}
	.home-install-col-1 {
		position: relative;
  		width: 360px;
  		height: 280px;
 		 overflow: hidden;
	}
}

@media only screen and (min-width: 981px) {
	.inheritme {
		display:-ms-flexbox;
		display:-webkit-flex;
		display:flex;
		-ms-flex-align:center;
		-webkit-align-items:center;
		-webkit-box-align:center;
		align-items:center;
	}
}

/* MAKE FULLWIDTH HEADER LOGO SHOW UP ON SMALLER SCREEN SIZES */
@media only screen and (min-width: 250px) and (max-width: 981px) {
.et_pb_fullwidth_header_0 .header-content img {
    height: 100% !important;
	padding-bottom: 30px;
}
}

/* .et_pb_fullwidth_header_0 .header-content img {
object-fit: contain;
} */

.taglinetext {
	font-size: 24px;
	color: #003355;
	font-style: italic;
	margin-top: 30px;
	text-transform: capitalize;
}

.newfooter1 {
	background-color: darkgrey;
}

.homegallery2 {
	display: none !important;
}

/* FIX GALLERY ISSUE WHERE IT WOULD PUT THE 4TH IMAGE ON ITS OWN LINE */
@media only screen and (min-width: 768px) and (max-width: 980px) {
.homegallery1 {
	display: none !important;
}
	.homegallery2 {
		display: block !important;
	}
}

.header-content {
	margin-bottom: calc(100px - 8vh) !important;
}

.scroll-down {
	color: #bf1e2d !important;
}

.footertext {
    color: white;
    font-size: 16px;
    font-family: "Open Sans";
}

.testpic {
	float: left;
	margin: -5px 40px 40px 100px;
	width: 120px;
	height: 120px;
}

.testsubhead {
	font-size: 14px;
	color: lightgrey;
}

.testname {
	padding-bottom: 0;
}

.testname, .testsubhead {
	text-align: right;
	color: white;
}

@media only screen and (max-width: 980px) {
	.header-content {
		width: auto !important;
		height: auto !important;
	}
	.scroll-down {
		font-size: 2.5em !important;
	}
	.testpic {
		display: none;
	}
	.testsubhead, .testname, .testlgtxt {
		text-align: center;
	}
	.gallerysect {
		margin-bottom: 42px;
	}
}

.gallerysect {
	margin-top: 20px;
	margin-bottom: 20px;
}

.testimonialsect1 {
  	padding: 0;
	background-blend-mode: multiply;
}

#testimonials {
	background-color: #770404 !important;
}

@media only screen and (max-width: 767px) {
  	.testimonialsect2 {
   		padding: 0;
   	}
}

@media only screen and (min-width: 768px) and (max-width: 980px) {
	.testimonialsect2 {
   		padding: 64px;
   	}
}

.homeicon {
	font-size: 64px !important;	
}

.workbutton {
	color: #003355 !important;
}

.home-extra-menu a {
	color: white !important;
}

.homecontacttext {
	font-size: 42px;
	color: white;	
	font-weight: 700;
}

.homecontactphone, .homecontactemail {
	font-size: 24px;
}

.homeservicesitem {
	font-size: 24px;
	text-align: left;
	color: #333333;
}

.homeservicesicon {
	color: #577600;
}

.homeservicestitle {
	font-size: 35px;	
	text-align: right;
	color: #bf1e2d;
}

.homeservicestext {
	color: #333333;
	font-size: 16px;
}

.homecontactbut {
	color: white;
	font-size: 30px;
}

.newfooter21 {
	padding-bottom: 0;
}

.servicesbut {
	color: #003355 !important;
}

@media only screen and (max-width: 980px) {
	.hc21 {
		padding-left: 33vw;
}
	.homeservicestitle {	
		text-align: center;
		line-height: 1;
}
	.homeservicestext {
		text-align: center;
	}
}

.socialicons {
font-size: 30px;
}

.socialicons a {
color: white;
}

.socialicons a:hover {
color: #2E2E2E;
}

.socialicons2 {
font-size: 30px;
}

.socialicons2 a {
color: #bf1e2d;
}

.socialicons2 a:hover {
color: #003355;
}

.testlgtxt {
	font-size: 20px;
	color: white;
}

.testtitle2 {
	font-size: 36px;
	color: white;
}

.testsect2 {
	padding-top: 0 !important;
}

.testsect1 {
	padding-top: 80px;
}

.homeiconall {
	color: #bf1e2d;
}

.icontext {
	color: black;
}

.homedivide1:before {
	border-top-width: 2px;
}

.iconsect1 {
	padding: 0 !important;
}

.conicon111, .conicon112 {
	color: #bf1e2d
}

.mobile_menu_bar:before {
	color: #bf1e2d;
}

@media only screen and (max-width: 464px) {
	.homecontactemail {
		font-size: 18px;
}
}

@media only screen and (max-width: 500px) {
	.home-top-bg {
		display: none;
}
}

.homemobilebut {
	color: #BF1E2D !important;
}

.homemobilesect,.homemobilecont {
	padding-top: 0;
}

/* additions below for new home page */

.hp1 {
	height: 50vh;
}

.titlefont1 {
	color: #333333;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
}

.hp1 {
	height: 50vh;
}

.hp2 {
    
}

.icontitle {
	font-size: 20px;
	font-weight: bolder;
	color: #333333;
}

.hdall {
	border-top: 2px solid #bf1e2d;
  	width: 40px;
	color: red;
	margin: 0 auto;
	height: 16px;
}

.iccall {
	margin-bottom: 15px !important;
}

#work {
	background-image: none !important;
	padding-top: 20px;
}

.servicesbut,.homegallerybut {
	color: #bf1e2d !important;
}

.servicesbut:hover,.homegallerybut:hover {
	background-color: #bf1e2d !important;
	color: white !important;
}

.et-fixed-header #top-menu a:hover {
color: #bf1e2d !important;
}

#top-menu a:hover {
color: #bf1e2d !important;
}

@media only screen and (min-width: 980px) and (max-width: 1130px) {
.menu-item a {
font-size: 15px !important;
}
}

.homegallerytitle {
	font-size: 35px;	
	text-align: left;
    color: #bf1e2d;
    font-weight: 400;
}

.homegallerytext {
	color: #333333;
	font-size: 16px;
	font-family: "Open Sans"
}

@media only screen and (max-width: 980px) {
    .homegallerytitle {
        text-align: center;
    }
    
    .homegallerytext {
        text-align: center;
    }
}


.contactfootersect {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #1F1F1F;
}

.footsoc1 {
	padding: 0 !important;
	margin: 0 !important;
	background: #000;
}

.ftln {
    border-top: 2px solid #bf1e2d;
  	width: 130px;
	color: red;
	margin: 0 auto;
	height: 1px;
}

.socialicons a:hover {
	color: #bf1e2d !important;
}

.servmobbut1,.servmobbut2 {
	padding-top: 0;
}

.homedivide2 {
margin-top: 90px !important;
}

@media only screen and (min-width: 768px) {
.servmobbut1,.servmobbut2 {
	padding: 0 !important;
}
.homedivide2 {
	margin-top: 0;
	display:none;
}
}

.homedivide2:before {
	border-top-width: 2px;
}

.testpic {
	display: none;
}

.slt2,.slt3 {
	text-align: right;
}

.slt2 {
	padding-bottom: 0;
}

.slt3 {
	font-size: 13px;
}

#testimonials {
	padding: 0;
}

.hometestbut {
    color: white !important;
    background-color: #1f1f1f;
	padding-top: 0;
	margin-top: 0;
}

.hometestbut:hover {
    color: #1f1f1f !important;
    background-color: white !important;
}

#testslide1 {
	margin-bottom: 0;
}

#testimonials .et_pb_row_4 {
	padding-top: 0 !important;
}

/* GALLERY PAGE */

.galr1 {
    padding-top: 0 !important;
}

/* OTHER PAGES */

.titlefont1 {
	font-family: "Open Sans";
	font-size: 36px;
	color: #1f1f1f;
}

.subfont1 {
	font-family: "Open Sans";
	font-size: 24px;
	color: #1f1f1f;
	font-weight: 600;
}

.subfont2 {
	font-family: "Open Sans";
	font-size: 16px;
	color: #bf1e2d;
	font-weight: 600;
}

.bodyfont1 {
	font-family: "Open Sans";
	font-size: 14px;
	color: #1f1f1f;
	font-weight: 500;
}

.bodyfont2 {
	font-family: "Open Sans";
	font-size: 14px;
	color: #bf1e2d;
	font-weight: 600;
	text-align: right;
}

.faq1:before {
	border-top-width: 2px;
}

.faq1 {
	color: #1f1f1f;
}

.et_pb_toggle_title {
	color: #1f1f1f !important;
}

.faq2 {
	background-color: white;
}

.faq2:hover {
	background-color: #ccc;
}

.et_pb_toggle_title:before {
	color: #bf1e2d !important;
}