/*sp.css v1*/
/* ---REMOVE BELOW WHEN CONSTRUCTION ENDS-- */
#footer-info {
display: none;
}

#construction-title {
font-size: 65px;
font-weight: bold;
color: black;
}

#construction-text1 {
font-size: 30px;
font-weight: bold;
}

#construction-text2 {
font-size: 30px;
color: black;
}/* ---REMOVE ABOVE WHEN CONSTRUCTION ENDS-- */

.homeheader1 .et_pb_fullwidth_header_container, .homeheader1 .header-content-container {
  display: inline-block !important;
  vertical-align: top;
}

.homeheader1 .header-content-container {
  padding-top: 24px;
}