/*sp.css v1*/
/* ---REMOVE BELOW WHEN CONSTRUCTION ENDS-- */
#footer-info {
  display: none;
  }
  
  #construction-title {
  font-size: 65px;
  font-weight: bold;
  color: black;
  }
  
  #construction-text1 {
  font-size: 30px;
  font-weight: bold;
  }
  
  #construction-text2 {
  font-size: 30px;
  color: black;
  }
  /* ---REMOVE ABOVE WHEN CONSTRUCTION ENDS-- */
  
  .homeheader1 .et_pb_fullwidth_header_container, .homeheader1 .header-content-container {
    display: inline-block !important;
    vertical-align: top;
  }
  
  .homeheader1 .header-content-container {
    padding-top: calc(140px - 5vw);
  }
  
  .header-content h1 {
    font-size: 35px;
  }
  
  @media only screen and (min-width: 981px) {
  #logo {
    margin-top: -37px;
  }
  
  .menu-item a {
    margin-top: 0px;
    padding-bottom: 6px !important;
    padding-top: 10px;
    background-color: #d1e5aa;
    color: black !important;
  }
  
  .menu-item a:hover {
    color: white !important;
  }
  
  #top-menu-nav {
    background-color: #d1e5aa;
    width: 100vw;
  }
  
  .et_menu_container {
    width: 100%;
    max-width: 100%;
  }
  
  .homeheader1 {
    height: calc(100vh - 100px);
    min-height: calc(100vh - 100px);
  }
    .contact2 {
  margin-left: 5vw;
  }
  .trainpic1, .serviceimg {
    float: right;
  }
  }
  
  /*vvv  Class to center child elements vertically  vvv*/
  @media only screen and (min-width: 981px) {
  .inheritme {
      display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
  
    align-items: center;
  }
  }
  /*^^^  Class to center child elements vertically  ^^^*/
  
  .home-img-1 {
    max-height: 350px;
    overflow: hidden;
  }
  
  .contactbg1 {
    background-color: #D1E5AA;
    padding: 24px;
  }
  
  p.contact {
    color: black ;
  }
  
  .footersect {
    padding: 0;
  }
  
  .footerlink {
    color: darkorange;
  }
  
  .addresstext1 {
    margin-bottom: 15px !important;
    }
  
  .mapcode1 {
    border: black solid 1px;
    max-width: 350px;
  }
  
  @media only screen and (max-width: 980px) {
    .contact {
      text-align: center;
    }
    .mapcode1 {
      max-width: 350px;
      margin: auto;
  }
  }
  
  .footersect2 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .footertext {
    text-align: right;
  }
  
  div .homefeat1 {
    background: none;
    border: none;
  }
  
  .homefeats {
    padding: 0;
  }
  
  .homefeattop {
  padding-top: 55px;
    padding-bottom: 0;
  }
  
  
  .homefeattext12 {
  color: #e2ddd8;
  }
  
  .featbutrow {
    padding-top: 0;
    padding-bottom: 55px;
  }
  
  .featsbut1 {
    color: white !important;
  }
  
  .featsbut1:hover {
    border: solid 2px white;
  }
  
  .pagetitlebg1 {
  background-color: #A6DFEF;
    margin: 30px;
    padding: 0;
  }
  
  .minimenu {
    color: black;
    font-size: 20px;
    text-align: center;
  }
  
  .pagetitle1 {
    text-align: center;
  }
  
  .contitle, .traintitle, .servicetxt1 {
    font-size: 18px;
    font-weight: 800;
  }
  
  .trainpic1, .serviceimg {
    width: 350px;
    height: auto;
  }
  
  .instasocial1 {
    color: darkred;
  }
  
  .servicetxt3 {
    font-weight: 800;
  }
  
  .servicesect1 {
    padding-top: 0;
  }
  
  .exclaimbg {
  background-color: #D1E5AA;
  }
  
  .exclaimtext {
    color: black;
    font-size: 18px;
  }
  
  p .exclaim {
    font-size: 22px;
  }
  
  .constructiontext1 {
  font-size: 20px;
  font-weight: bold;
  }
  
  .constructionpic1 {
    width: 120px;
  }
  
  .constructionbg1 {
    padding: 0;
  }
  
  .ourstory1 {
    padding-top: 0;
  }
  
  #main-header {
    overflow: hidden;
  }

/** NOTICE CSS - USE THIS FOR TEMPORARY NOTICE AT TOP OF SITE (USE FULLWIDTH HEADER TEXT) .**/
/** STANDARD HEADER TEXT: The hair of your dreams starts here. **/
/*
.homeheader1 .header-content-container {
  padding-top: 0px;
}

.et_pb_fullwidth_header .et_pb_fullwidth_header_container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  position: absolute;
  left: 0;
}

.header-content {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 !important;
}


.header-content h1 {
  font-size: 35px;
  font-family: sans-serif;
  background-color: orange;
  padding-top: 8px;
  color: black !important;  
  padding-left: 12px;
  padding-right: 12px;
}

@media only screen and (max-width: 900px) {
  .header-content h1 {
    font-size: 30px;
  }
}
  
@media only screen and (max-width: 479px) {
  .header-content h1 {
    font-size: 24px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
*/
/** ^^^^ NOTICE CSS - USE THIS FOR TEMPORARY NOTICE AT TOP OF SITE (USE FULLWIDTH HEADER TEXT) ^^^^ **/